
.calender {
    width: 100%;
    max-width: 56rem;
    min-width: 28rem;
    height: calc(60% - 2rem);
    background-color: #111214;
    border-radius: 1rem;
    padding: 1.5rem;
    display: grid;
    place-items: center;

    .nav-date {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 1rem;
        padding-left: 1rem;
        margin-bottom: 1.5rem;

        h2 {
            font-size: 2rem;
            font-weight: 300;
            color: #bbb;
        }

        .buttons {
            display: flex;
            column-gap: 1rem;
            margin-left: auto;
            background-color: transparent;
            border: none;

            i {
                height: 3.5rem;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #2c3542;
                font-size: 2rem;
                color: #b88efc;
                border-radius: 50%;
                cursor: pointer;
            }
        }

    }

    .weakDays {
        width: 100%;
        display: flex;
        margin: 1rem 0;

        span {
            width: calc(100% / 7);
            display: flex;
            justify-content: center;
            font-size: 1.3rem;
            font-weight: 300;
            color: #78879e;
            text-transform: uppercase;
            letter-spacing: .1rem;
        }
    }

    .days {
        width: 100%;
        display: flex;
        flex-wrap: wrap;

        span {
            width: calc(100% / 7);
            display: flex;
            justify-content: center;
            align-items: center;
            aspect-ratio: 1;
            font-size: 1.3rem;
            color: #ddd;
            cursor: pointer;


        }

        .current-day {
            font-size: 2rem;
            color: #fff;
            border-radius: 50%;
            background: linear-gradient(to right, #b88efc, #6877f4);
        }
    }
}

@media (max-width: 900px) {
  .calendar {
    height: 100%;
  }
}
