.news {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 2rem;
    font-size: 2rem;
    color: white;
    width: 100%;
    height: 100%;

    .news-header {
        width: 100%;
        min-height: 7rem;
        background-color: #111214;
        border-radius: 1rem 1rem 0 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 4rem;

        .logo {
            font-family: "Bebas Neue", sans-serif;
            font-size: 5rem;
            color: #dddddd;
            letter-spacing: 0.2rem;
        }

        .search-bar {
            position: relative;
        }

        .search-bar input {
            width: 25rem;
            height: 4rem;
            border: none;
            border-radius: 5rem;
            background-color: #060709;
            padding: 0 4rem 0 2rem;
            color: #dddddd;
            transition: width 0.3s ease;

            &:focus {
                width: 35rem;
                outline: none;

                &::placeholder {
                    color: transparent;
                }
            }

        }

        .search-bar button {
            background-color: transparent;
            border: none;
            position: absolute;
            top: 50%;
            right: 1rem;
            transform: translateY(-50%);
            color: #bbbbbb;
            font-size: 1.8rem;
            cursor: pointer;
        }
    }

    .news-content {
        display: flex;
        column-gap: 2rem;
        height: calc(100% - 16rem);

        .navbar {
            width: 18rem;
            height: 100%;
            display: flex;
            flex-direction: column;
            row-gap: 2rem;

            .user {
                width: 100%;
                height: 20%;
                background-color: #111214;
                border-radius: 1rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                row-gap: 1rem;
                cursor: pointer;

                img {
                    width: 7rem;
                    aspect-ratio: 1;
                    object-fit: cover;
                    border-radius: 50%;
                }

                p {
                    font-size: 1.5rem;
                    font-family: "comfortaa", sans-serif;
                    color: #dddddd;
                }
            }

            .categories {
                width: 100%;
                height: calc(80% - 2rem);
                background-color: #111214;
                border-radius: 1rem;
                display: flex;
                flex-direction: column;
                row-gap: 2rem;
                padding: 2rem;

                .nav-heading {
                    font-size: clamp(1.5rem, 2.5cqi, 3rem);
                    font-family: "Bebas Neue", sans-serif;
                    color: #dddddd;
                    margin-bottom: 1.2rem;
                    letter-spacing: 0.2rem;
                }

                .nav-links {
                    display: flex;
                    flex-direction: column;
                    row-gap: 2rem;

                    .nav-link {
                        font-size: 1.5rem;
                        font-weight: 300;
                        color: #dddddd;
                        text-transform: uppercase;
                        letter-spacing: 0.1rem;
                        display: flex;
                        align-items: center;

                        i {
                            font-size: 1.7rem;
                            margin-left: 1rem;
                        }

                    }
                }
            }

        }

        .news-section {
            width: clamp(30rem, 43cqi, 40%);
            height: 100%;
            border-radius: 1rem;

            .headline {
                width: 100%;
                height: calc(50% - 2rem);
                background-color: #111214;
                border-radius: 1rem;
                margin-bottom: 1rem;
                position: relative;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 1rem;
                    opacity: 0.4;
                }

                h2 {
                    width: 100%;
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    padding: 1rem 4rem 1rem 1rem;
                    border-radius: 0 0 1rem 1rem;
                    font-family: "bebas neue", sans-serif;
                    font-size: clamp(1.5rem 1.8cqi 3rem);
                    color: #ffffff;
                    letter-spacing: 0.1rem;
                    background-color: rgba(0, 0, 0, 0.7);

                    i {
                        position: absolute;
                        right: 1rem;
                        bottom: 1rem;
                        cursor: pointer;
                    }
                }
            }

            .news-grid {
                width: 100%;
                height: 50%;
                background-color: #111214;
                border-radius: 0 0 1rem 1rem;
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: repeat(2, 1fr);
                gap: 1rem;
                padding: 1.2rem;
                justify-content: center;
                align-items: center;


                .news-grid-item {
                    width: 100%;
                    height: 100%;
                    min-height: 15rem;
                    border-radius: 1rem;
                    position: relative;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        border-radius: 1rem;
                        display: block;
                        opacity: 0.5;
                    }

                    h3 {
                        width: 100%;
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        padding: 1rem 3rem 3rem 1rem;
                        border-radius: 0 0 1rem 1rem;
                        font-family: "bebas neue", sans-serif;
                        font-size: 1.6rem;
                        font-weight: 300;
                        line-height: 1.4rem;
                        background-color: rgba(0, 0, 0, 0.7);

                        i {
                            position: absolute;
                            right: 1rem;
                            bottom: 1rem;
                            cursor: pointer;
                        }
                    }
                }
            }
        }

        .my-blogs {
            width: clamp(20rem, 27cqi, 28%);
            height: 100%;
            background-color: #111214;
            border-radius: 1rem;
            display: flex;
            flex-direction: column;
            row-gap: 3rem;
            padding-bottom: 2rem;


            .my-blogs-heading {
                font-family: 'Bebas Neue', sans-serif;
                font-size: 3rem;
                color: #ddd;
                letter-spacing: 0.1rem;
                padding: 2rem;
            }

            .blog-posts {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                gap: 1.2rem;
                padding: 1.2rem;


                .blog-post {
                    flex: 0 1 calc(50% - 0.6rem);
                    border-radius: 1rem;
                    position: relative;


                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        border-radius: 1rem;
                        opacity: 0.5;
                    }

                    h3 {
                        width: 100%;
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        padding: 1rem;
                        background-color: rgba(0, 0, 0, 0.7);
                        border-radius: 0 0 1rem 1rem;
                        font-size: 1.6rem;
                        font-weight: 300;
                        text-transform: uppercase;
                        line-height: 1.6rem;
                        color: #fff;
                        overflow-wrap: break-word;
                    }

                    .post-buttons {
                        position: absolute;
                        top: 1rem;
                        right: 1rem;
                        display: flex;
                        justify-content: center;
                        column-gap: 2rem;
                        opacity: 0;
                        visibility: hidden;
                        transition: all 0.3s;

                        button {
                            background-color: transparent;
                            border: none;
                            font-size: 2.5rem;
                            color: #fff;
                            cursor: pointer;
                        }
                    }

                    
                }
                .blog-post:hover .post-buttons {
                        opacity: 1;
                        visibility: visible;
                    }
            }
        }

        .weather-calendar {
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            row-gap: 2rem;
        }
    }

    .news-footer {
        width: 100%;
        min-height: 5rem;
        background-color: #111214;
        border-radius: 0 0 1rem 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 4rem;

        p {
            font-size: 1.4rem;
            font-weight: 300;
            color: #bbb;

            span {
                font-size: 2rem;
                font-family: "Bebas Neue", sans-serif;
            }
        }
    }
}

@media (max-width: 1400px) {
  .news .news-content .navbar .categories .nav-links {
    row-gap: 1rem;
  }

  .news .news-content .news-section {
    overflow: hidden;
  }

  .news .news-content .news-section .news-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    overflow-y: scroll;
  }

  .news .news-content .news-section .news-grid::-webkit-scrollbar {
    display: none;
  }

  .news .news-content .my-blogs .blog-posts {
    overflow-y: scroll;
  }

  .news .news-content .my-blogs .blog-posts::-webkit-scrollbar {
    display: none;
  }

  .news .news-content .my-blogs .blog-posts .blog-post {
    flex: 0 1 calc(100% - 0.6rem);
  }
}

@media (max-width: 1024px) {
  .news .news-content .news-section .news-grid {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }
}

@media (max-width: 900px) {
  .news {
    height: 100%;
    overflow-y: scroll;
  }

  .news::-webkit-scrollbar {
    display: none;
  }

  .news .news-content {
    flex-direction: column;
    width: 100%;
    height: 200rem;
    row-gap: 2rem;
  }

  .news .news-content .navbar {
    flex-direction: row;
    justify-content: space-between;
    width: 100% ;
    height: 18rem;
    margin: 2rem 0;
  }

  .news .news-content .navbar .user {
    width: calc(30% - 2rem);
    height: 100%;
    
  }

  .news .news-content .navbar .categories {
    width: 70%;
    height: 100%;
    justify-content: center;
    align-items: center;
    row-gap: 1rem;
  }

  .news .news-content .navbar .categories .nav-links {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }

  .news .news-content .navbar .categories .nav-link {
    margin-right: 2rem;
  }

  .news .news-content .news-section {
    width: 100% ;
    height: 70% ;
    margin-top: 3rem !important;
  }

  .news .news-content .news-section .news-grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .news .news-content .my-blogs {
    width: 100%;
  }

  .news .blog-post {
    flex: 0 1 calc(50% - 0.6rem);
  }

  .news .weather-calendar {
    flex-direction: row;
    column-gap: 2rem;
  }
}

@media (max-width: 500px) {
  .news .news-header {
    padding: 0 2rem;
  }

  .news .news-header .logo {
    font-size: 3.5rem;
  }

  .news .news-header .search-bar input {
    width: 18rem;
  }

  .news .news-header .search-bar input:focus {
    width: 23rem;
  }

  .news .news-content .navbar {
    flex-direction: column;
    height: 30rem;
    margin-bottom: 2rem;
  }

  .news .news-content .navbar .user {
    width: 100%;
    min-height: 40%;
  }

  .news .news-content .navbar .user p {
    display: none;
  }

  .news .news-content .navbar .categories {
    width: 100%;
  }

  .news .news-content .navbar .categories .nav-heading {
    display: none;
  }

  .news .news-content .news-section .news-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  .news .news-content .weather-calendar {
    flex-direction: column;
  }

  .news .news-footer {
    min-height: 8rem;
    flex-direction: column;
    justify-content: center;
    row-gap: 1rem;
  }
}
